<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
	<div class="container-fluid">
	    <a class="navbar-brand" href="https://techmcdocs.github.io/">Minecraft Tech Wiki</a>
	    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
	      <span class="navbar-toggler-icon"></span>
	    </button>
	    <div class="collapse navbar-collapse" id="navbarSupportedContent">
	      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
	        <li class="nav-item">
	          <a class="nav-link active" aria-current="page" href="https://techmcdocs.github.io/">Home</a>
	        </li>
	        <li class="nav-item dropdown">
	          <a class="nav-link dropdown-toggle" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
	            Category
	          </a>
	          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
	            <li><a class="dropdown-item" href="https://techmcdocs.github.io/GameTick/">Game Tick</a></li>
	            <li><a class="dropdown-item" href="https://techmcdocs.github.io/BugsAndExploits/">Bugs And Exploits</a></li>
	            <li><a class="dropdown-item" href="https://techmcdocs.github.io/GameMechanics/">Game Mechanics</a></li>
				<li><a class="dropdown-item" href="https://techmcdocs.github.io/TechGroups/">Tech Groups</a></li>
				<li><a class="dropdown-item" href="https://techmcdocs.github.io/Blocks/">Blocks</a></li>
				<li><a class="dropdown-item" href="https://techmcdocs.github.io/Entities/">Entities</a></li>
				<li><a class="dropdown-item" href="https://techmcdocs.github.io/Other/">Other</a></li>
	          </ul>
	        </li>
			<li class="nav-item">
	          <a class="nav-link" href="https://techmcdocs.github.io/Resources">Resources</a>
	        </li>
		      <li class="nav-item">
			      <div>
				      <script async src="https://cse.google.com/cse.js?cx=2a42440b44db58fcb"></script>
                                      <div class="gcse-search"></div>
			      </div>
		      </li>
	      </ul>
	      <form class="d-flex">
	        <input class="form-control me-2" type="search" placeholder="W.I.P." aria-label="Search">
	        <button class="btn btn-outline-success" type="submit">Search</button>
	      </form>
	    </div>
	</div>
</nav>
