<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
	<div class="container-fluid">
	    <a class="navbar-brand" href="/">Technical Minecraft Wiki</a>
	    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
	      <span class="navbar-toggler-icon"></span>
	    </button>
	    <div class="collapse navbar-collapse" id="navbarSupportedContent">
	      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
	        <li class="nav-item">
	          <a class="nav-link" aria-current="page" href="/">Home</a>
	        </li>
	        <li class="nav-item dropdown">
	          <a class="nav-link dropdown-toggle" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
	            Categories
	          </a>
	          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
	            <li><a class="dropdown-item" href="/pages/GameTick/">Game Tick</a></li>
	            <li><a class="dropdown-item" href="/pages/BugsAndExploits/">Bugs and Exploits</a></li>
	            <li><a class="dropdown-item" href="/pages/GameMechanics/">Mechanics</a></li>
				<li><a class="dropdown-item" href="/pages/TechSubjects/">Technical Subjects</a></li>
				<li><a class="dropdown-item" href="/pages/Blocks/">Blocks</a></li>
				<li><a class="dropdown-item" href="/pages/Entities/">Entities</a></li>
				<li><a class="dropdown-item" href="/pages/Other/">Other</a></li>
	          </ul>
	        </li>
			<li class="nav-item">
	          <a class="nav-link" href="/pages/Resources">Resources</a>
	        </li>
	      </ul>
	      <div class="version-dropdown">
	      	<select id="mc-version"></select>
	      	<input type="checkbox" id="allow-snapshots" name="allow-snapshots">
	      	<label for="allow-snapshots">Allow Snapshots</label>
	      	<input type="checkbox" id="show-all-versions" name="show-all-versions">
	      	<label for="show-all-versions">Show All Versions</label>
			&nbsp
	      </div>
	      <div class="d-flex">
			<div>
			    <script async src="https://cse.google.com/cse.js?cx=2a42440b44db58fcb"></script>
                <div class="gcse-search"></div>
		      </div>
	      </div>
	    </div>
	</div>
</nav>
<br>